# Preriquisites

In [4]:
# Import pandas for data manipulation
import pandas as pd
import numpy as np

In [3]:
# load datafile and preview first few records
hr_df = pd.read_csv('https://bit.ly/2ODZvLCHRDataset')
hr_df.head()

   employee_id         department  ... avg_training_score is_promoted
0        65438  Sales & Marketing  ...                 49           0
1        65141         Operations  ...                 60           0
2         7513  Sales & Marketing  ...                 50           0
3         2542  Sales & Marketing  ...                 50           0
4        48945         Technology  ...                 73           0

[5 rows x 14 columns]

In [6]:
# load glossary dataframe and view the records
glossary_df = pd.read_csv('https://bit.ly/2Wz3sWcGlossary')
glossary_df

                 employee_id - Unique ID for employee
0                 department - Department of employee
1           region - Region of employment (unordered)
2                         education - Education Level
3                         gender - Gender of Employee
4   recruitment_channel - Channel of recruitment f...
5   nooftrainings - no of other trainings complete...
6                               age - Age of Employee
7   previousyearrating - Employee Rating for the p...
8        lengthofservice - Length of service in years
9   KPIs_met >80% - if Percent of KPIs(Key perform...
10  awards_won? - if awards won during previous ye...
11  avgtrainingscore - Average score in current tr...
12     is_promoted (Target) Recommended for promotion